In [26]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [27]:
df = pd.read_csv("/content/drive/MyDrive/TMDB IMDB Movies Dataset")

In [28]:
df.head()

,id,title,vote_average,vote_count,status,release_date,revenue,runtime,adult,backdrop_path,...,genres,production_companies,production_countries,spoken_languages,keywords,directors,writers,averageRating,numVotes,cast
0,27205,Inception,8.364,34495,Released,2010-07-15,825532764,148,False,/8ZTVqvKDQ8emSGUEMjsS4yHAwrp.jpg,...,"Action, Science Fiction, Adventure","Legendary Pictures, Syncopy, Warner Bros. Pict...","United Kingdom, United States of America","English, French, Japanese, Swahili","rescue, mission, dream, airplane, paris, franc...",Christopher Nolan,Christopher Nolan,8.8,2684780,"Leonardo DiCaprio, Joseph Gordon-Levitt, Ken W..."
1,157336,Interstellar,8.417,32571,Released,2014-11-05,701729206,169,False,/pbrkL804c8yAv3zBZR4QPEafpAR.jpg,...,"Adventure, Drama, Science Fiction","Legendary Pictures, Syncopy, Lynda Obst Produc...","United Kingdom, United States of America",English,"rescue, future, spacecraft, race against time,...",Christopher Nolan,"Jonathan Nolan, Christopher Nolan",8.7,2346977,"Matthew McConaughey, Anne Hathaway, Michael Ca..."
2,155,The Dark Knight,8.512,30619,Released,2008-07-16,1004558444,152,False,/nMKdUUepR0i5zn0y1T4CsSB5chy.jpg,...,"Drama, Action, Crime, Thriller","DC Comics, Legendary Pictures, Syncopy, Isobel...","United Kingdom, United States of America","English, Mandarin","joker, sadism, chaos, secret identity, crime f...",Christopher Nolan,"Jonathan Nolan, Christopher Nolan, David S. Go...",9.0,3022443,"Christian Bale, Heath Ledger, Aaron Eckhart, M..."
3,19995,Avatar,7.573,29815,Released,2009-12-15,2923706026,162,False,/vL5LR6WdxWPjLPFRLe133jXWsh5.jpg,...,"Action, Adventure, Fantasy, Science Fiction","Dune Entertainment, Lightstorm Entertainment, ...","United States of America, United Kingdom","English, Spanish","future, society, culture clash, space travel, ...",James Cameron,James Cameron,7.9,1431576,"Sam Worthington, Zoe Salda√±a, Sigourney Weaver..."
4,24428,The Avengers,7.710,29166,Released,2012-04-25,1518815515,143,False,/9BBTo63ANSmhC4e6r62OJFuK2GL.jpg,...,"Science Fiction, Action, Adventure",Marvel Studios,United States of America,"English, Hindi, Russian","new york city, superhero, shield, based on com...",Joss Whedon,"Joss Whedon, Zak Penn",8.0,1508926,"Robert Downey Jr., Chris Evans, Mark Ruffalo, ..."

In [29]:
df.shape

(434437, 29)

In [30]:
df.columns

Index(['id', 'title', 'vote_average', 'vote_count', 'status', 'release_date',
       'revenue', 'runtime', 'adult', 'backdrop_path', 'budget', 'homepage',
       'tconst', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'tagline', 'genres',
       'production_companies', 'production_countries', 'spoken_languages',
       'keywords', 'directors', 'writers', 'averageRating', 'numVotes',
       'cast'],
      dtype='object')

In [31]:
df[['original_title' , 'title']].head()

    original_title            title
0        Inception        Inception
1     Interstellar     Interstellar
2  The Dark Knight  The Dark Knight
3           Avatar           Avatar
4     The Avengers     The Avengers

#lets drop the column

In [32]:
columns_to_drop = df[['id', 'backdrop_path' , 'homepage' , 'tconst' , 'original_title', 'overview', 'poster_path', 'tagline']]

In [33]:
df.drop(columns = columns_to_drop , axis=1, inplace=True)

In [34]:
df.columns

Index(['title', 'vote_average', 'vote_count', 'status', 'release_date',
       'revenue', 'runtime', 'adult', 'budget', 'original_language',
       'popularity', 'genres', 'production_companies', 'production_countries',
       'spoken_languages', 'keywords', 'directors', 'writers', 'averageRating',
       'numVotes', 'cast'],
      dtype='object')

In [35]:
df.drop(columns = 'keywords' , axis=1, inplace=True)

In [36]:
df.columns

Index(['title', 'vote_average', 'vote_count', 'status', 'release_date',
       'revenue', 'runtime', 'adult', 'budget', 'original_language',
       'popularity', 'genres', 'production_companies', 'production_countries',
       'spoken_languages', 'directors', 'writers', 'averageRating', 'numVotes',
       'cast'],
      dtype='object')

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 434437 entries, 0 to 434436
Data columns (total 20 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   title                 434437 non-null  object
 1   vote_average          434437 non-null  float64
 2   vote_count            434437 non-null  int64
 3   status                434437 non-null  object
 4   release_date          415357 non-null  object
 5   revenue               434437 non-null  int64
 6   runtime               434437 non-null  int64
 7   adult                 434437 non-null  bool
 8   budget                434437 non-null  int64
 9   original_language     434437 non-null  object
 10  popularity            434437 non-null  float64
 11  genres                356256 non-null  object
 12  production_companies  262412 non-null  object
 13  production_countries  321649 non-null  object
 14  spoken_languages      332018 non-null  object
 15  directors             424174 non-null  object
 16  writers               367909 non-null  object
 17  averageRating         434437 non-null  float64
 18  numVotes              434437 non-null  int64
 19  cast                  365859 non-null  object
dtypes: bool(1), float64(3), int64(5), object(11)
memory usage: 63.4+ MB

In [38]:
df['release_date'].head(2)

0    2010-07-15
1    2014-11-05
Name: release_date, dtype: object

In [40]:
#df['year'] = df['release_date'].dt.year

In [41]:
df['release_date'] = pd.to_datetime(df['release_date'])

In [42]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 434437 entries, 0 to 434436
Data columns (total 20 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   title                 434437 non-null  object
 1   vote_average          434437 non-null  float64
 2   vote_count            434437 non-null  int64
 3   status                434437 non-null  object
 4   release_date          415357 non-null  datetime64[ns]
 5   revenue               434437 non-null  int64
 6   runtime               434437 non-null  int64
 7   adult                 434437 non-null  bool
 8   budget                434437 non-null  int64
 9   original_language     434437 non-null  object
 10  popularity            434437 non-null  float64
 11  genres                356256 non-null  object
 12  production_companies  262412 non-null  object
 13  production_countries  321649 non-null  object
 14  spoken_languages      332018 non-null  object
 15  directors             424174 non-null  object
 16  writers               367909 non-null  object
 17  averageRating         434437 non-null  float64
 18  numVotes              434437 non-null  int64
 19  cast                  365859 non-null  object
dtypes: bool(1), datetime64[ns](1), float64(3), int64(5), object(10)
memory usage: 63.4+ MB

In [44]:
#df['year'] = df['release_date'].dt.year.astype('Int64')

In [45]:
#df['month'] = df['release_date'].dt.month.astype('Int64')

In [46]:
#df['Day_Name'] = df['release_date'].dt.day_name()

In [47]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 434437 entries, 0 to 434436
Data columns (total 23 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   title                 434437 non-null  object
 1   vote_average          434437 non-null  float64
 2   vote_count            434437 non-null  int64
 3   status                434437 non-null  object
 4   release_date          415357 non-null  datetime64[ns]
 5   revenue               434437 non-null  int64
 6   runtime               434437 non-null  int64
 7   adult                 434437 non-null  bool
 8   budget                434437 non-null  int64
 9   original_language     434437 non-null  object
 10  popularity            434437 non-null  float64
 11  genres                356256 non-null  object
 12  production_companies  262412 non-null  object
 13  production_countries  321649 non-null  object
 14  spoken_languages      332018 non-null  object
 15  directors             424174 non-null  object
 16  writers               367909 non-null  object
 17  averageRating         434437 non-null  float64
 18  numVotes              434437 non-null  int64
 19  cast                  365859 non-null  object
 20  year                  415357 non-null  Int64
 21  month                 415357 non-null  Int64
 22  Day_Name              415357 non-null  object
dtypes: Int64(2), bool(1), datetime64[ns](1), float64(3), int64(5), object(11)
memory usage: 74.2+ MB

In [49]:
df.isnull().sum().sort_values(ascending=False)

production_companies    172025
production_countries    112788
spoken_languages        102419
genres                   78181
cast                     68578
writers                  66528
release_date             19080
Day_Name                 19080
year                     19080
month                    19080
directors                10263
title                        0
vote_average                 0
status                       0
vote_count                   0
runtime                      0
revenue                      0
original_language            0
popularity                   0
adult                        0
budget                       0
numVotes                     0
averageRating                0
dtype: int64

In [50]:
df.dropna(subset = ['release_date'] , inplace =True)

In [51]:
df['release_date'].isnull().sum()

np.int64(0)

In [53]:
df['year'] = df['release_date'].dt.year.astype('int64')
df['month'] = df['release_date'].dt.month.astype('int64')
df['Day_Name'] = df['release_date'].dt.day_name()

In [54]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 415357 entries, 0 to 434436
Data columns (total 23 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   title                 415357 non-null  object
 1   vote_average          415357 non-null  float64
 2   vote_count            415357 non-null  int64
 3   status                415357 non-null  object
 4   release_date          415357 non-null  datetime64[ns]
 5   revenue               415357 non-null  int64
 6   runtime               415357 non-null  int64
 7   adult                 415357 non-null  bool
 8   budget                415357 non-null  int64
 9   original_language     415357 non-null  object
 10  popularity            415357 non-null  float64
 11  genres                351755 non-null  object
 12  production_companies  260271 non-null  object
 13  production_countries  319236 non-null  object
 14  spoken_languages      328050 non-null  object
 15  directors             405811 non-null  object
 16  writers               352160 non-null  object
 17  averageRating         415357 non-null  float64
 18  numVotes              415357 non-null  int64
 19  cast                  354940 non-null  object
 20  year                  415357 non-null  int64
 21  month                 415357 non-null  int64
 22  Day_Name              415357 non-null  object
dtypes: bool(1), datetime64[ns](1), float64(3), int64(7), object(11)
memory usage: 73.3+ MB

In [55]:
col_to_replace = ['production_companies', 'production_countries','spoken_languages',
'genres','cast','writers','release_date','Day_Name','year','month','directors']

In [56]:
for i in col_to_replace:
  df[i] = df[i].fillna("Unknown")

In [57]:
df.isnull().sum()

title                   0
vote_average            0
vote_count              0
status                  0
release_date            0
revenue                 0
runtime                 0
adult                   0
budget                  0
original_language       0
popularity              0
genres                  0
production_companies    0
production_countries    0
spoken_languages        0
directors               0
writers                 0
averageRating           0
numVotes                0
cast                    0
year                    0
month                   0
Day_Name                0
dtype: int64